NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SITE_URL=

SUPABASE_SECRET_KEY=

MASTER_ADMIN_EMAIL=
MASTER_ADMIN_PASSWORD=

DEMO_OWNER_EMAIL=
DEMO_OWNER_PASSWORD=

DEMO_LUCAS_EMAIL=
DEMO_LUCAS_PASSWORD=

DEMO_PEDRO_EMAIL=
DEMO_PEDRO_PASSWORD=
